*, *::after, *::before, *::placeholder, input, textarea {
  font-family: inherit;
  color: inherit;

  margin: 0;
  line-height: 100%;
  padding: 0;
}

::selection {
  background-color: yellow;
  color: rgb(53, 53, 188);
}

body {
  background-color: rgb(53, 53, 188);
  color: #fff;
  font-family: 'DM Sans';
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::placeholder {
  color: #aaa;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%;
}

legend {
  display: contents;
}

input {
  border: none;
  width: 100%;
}
